.irs--shiny .irs-bar {
  border-top-color: transparent;
  border-bottom-color: transparent;
  background: transparent;
}

.intro-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background: #f4f4f4D0;
}

.intro-description {
	padding: 10px;
	font-size: 12px;
}

.intro-author-person {
	display: inline-block;
	width: 100px;
	padding-bottom: 5px;
}

#Regression > div, #Scatter > div, #Correlation > div {
	border-color: blue;
	border-style: solid;
}

#Choropleth > div, #Chord > div, #Slope > div, #Treemap > div, #Geofacet > div {
	border-color: red;
	border-style: solid;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
	background: white !important;
}

.sweet-alert p {
	padding: 5px 0px;
	text-align: justify;
}